.menu {
  min-width: min-content;
  max-width: 200px;
  border-radius: var(--radius);
  transition: all var(--ease-out-t) var(--ease-out-c);

  &:focus {
    outline: none;
  }
}

.item-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
}
