.button {
  overflow: clip;
  cursor: pointer;
  transition: all var(--ease-out-t) var(--ease-out-c);
}

.surface-outline {
  display: block;
  user-select: none;
  text-decoration: none;
  border-radius: var(--radius);
  border: 1px solid var(--gray-2);
  background-color: var(--background);

  &:hover, &:focus-visible {
    outline: none;
    border-color: var(--gray-6);
    background-color: var(--gray-1);
  }
}

.surface-fill {
  display: block;
  user-select: none;
  text-decoration: none;
  border-radius: var(--radius);
  border: 1px solid var(--gray-3);
  background-color: var(--gray-1);

  &:hover, &:focus-visible {
    outline: none;
    border-color: var(--gray-6);
    background-color: var(--gray-2);
  }
}

.surface-hollow {
  display: block;
  text-align: left;
  user-select: none;
  text-decoration: none;
  border-radius: var(--radius);
  border: 1px solid var(--background);
  background-color: var(--background);

  &:hover, &:focus-visible {
    outline: none;
    border-color: var(--gray-2);
    background-color: var(--gray-2);
  }

  &.disabled {
    border: 1px solid var(--background) !important;
    background-color: var(--background) !important;
  }
}

.surface-text {
  display: inline-block;
  text-align: left;
  user-select: auto;
  border: none;
  text-decoration: underline solid var(--gray-2) 1px;
  padding: 0px !important;

  &:hover, &:focus-visible {
    outline: none;
    text-decoration-color: var(--gray-9);
  }

  &.disabled {
    border: none;
    background-color: transparent;
  }
}

.size-s {
  padding: 5px 10px;
}

.size-m {
  padding: 10px;
}

.size-l {
  padding: 15px 10px;
}

.width-auto {
  width: max-content;
}

.width-full {
  min-width: max-content;
  width: 100%;
}

.disabled {
  cursor: default;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-2);

  &:hover, &:focus {
    background-color: var(--gray-1);
    border: 1px solid var(--gray-2);
  }
}
