/* prop: style */

.button-outline, .button-fill, .button-text {
  overflow: clip;
  cursor: pointer;
  transition: all 0.5s var(--curve);
}

.button-outline {
  display: block;
  user-select: none;
  text-decoration: none;
  border: 1px solid var(--gray-1);
  background-color: var(--background);
  color: var(--foreground);

  &:hover, &:focus-visible {
    outline: none;
    background-color: var(--gray-1);
  }
}

.button-fill {
  display: block;
  user-select: none;
  text-decoration: none;
  border: none;
  background-color: var(--foreground);
  color: var(--background);

  &:hover, &:focus-visible {
    outline: none;
    color: var(--foreground);
    background-color: var(--gray-1);
  }
}

.button-text {
  user-select: auto;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--foreground);
  font-weight: 500;
  text-decoration: none;

  &:hover, &:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--gray-9);
  }

  &.disabled {
    border: none;
    background-color: transparent;
  }
}

/* prop: size */

.button-s {
  border-radius: calc(var(--border-radius) * 0.35);
  padding: 5px 10px;
}

.button-m {
  border-radius: calc(var(--border-radius) * 0.5);
  padding: 10px 15px;
}

.button-l {
  border-radius: calc(var(--border-radius) * 0.65);
  padding: 15px 25px;
}

/* other */

.disabled {
  cursor: default;
  pointer-events: none;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-1);
  color: var(--gray-9);
  opacity: 0.8;

  &:hover, &:focus {
    background-color: var(--gray-1);
    border: 1px solid var(--gray-1);
    color: var(--gray-9);
  }
}
