.style-outline, .style-fill, .style-text {
  overflow: clip;
  cursor: pointer;
  border-radius: var(--radius);
  transition: all 0.5s var(--curve);
}

.style-outline {
  display: block;
  user-select: none;
  text-decoration: none;
  border: 1px solid var(--gray-1);
  background-color: var(--background);
  color: var(--foreground);

  &:hover, &:focus-visible {
    outline: none;
    border-color: var(--gray-6);
  }
}

.style-fill {
  display: block;
  user-select: none;
  text-decoration: none;
  border: none;
  background-color: var(--foreground);
  color: var(--background);

  &:hover, &:focus-visible {
    outline: none;
    background-color: var(--gray-9);
  }
}

.style-text {
  user-select: auto;
  border: none;
  color: var(--foreground);
  text-decoration: underline solid var(--gray-1) 1px;

  &:hover, &:focus-visible {
    outline: none;
    text-decoration-color: var(--gray-9);
  }

  &.disabled {
    border: none;
    background-color: transparent;
  }
}

.size-s { padding: 5px 10px }
.size-m { padding: 10px 20px }
.size-l { padding: 15px 30px }

/* other */

.disabled {
  cursor: default;
  pointer-events: none;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-1);
  color: var(--gray-6);

  &:hover, &:focus {
    background-color: var(--gray-1);
    border: 1px solid var(--gray-1);
    color: var(--gray-6);
  }
}
