/* prop: style */

.button-outline, .button-fill {
  overflow: clip;
  cursor: pointer;
  margin-top: 15px;
  transition: var(--transition);
}

.button-outline {
  border: 1px solid var(--gray-3);
  background-color: var(--background-solid);
  color: var(--foreground);

  &:hover, &:focus-visible {
    outline: none;
    background-color: var(--gray-1);
  }
}

.button-fill {
  border: none;
  background-color: var(--foreground);
  color: var(--background-solid);

  &:hover, &:focus-visible {
    outline: none;
    color: var(--foreground);
    background-color: var(--gray-1);
  }
}


/* prop: size */

.button-default {
  border-radius: calc(var(--border-radius) * 0.5);
  padding: 10px 15px;
  width: fit-content;
}

.button-small {
  border-radius: calc(var(--border-radius) * 0.35);
  padding: 5px 10px;
  width: fit-content;
}

.button-large {
  border-radius: calc(var(--border-radius) * 0.5);
  padding: 10px 15px;
  width: 100%;
}

/* other */

.disabled {
  cursor: not-allowed;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-1);
  color: var(--gray-9);
  opacity: 0.8;

  &:hover, &:focus {
    background-color: var(--gray-1);
    border: 1px solid var(--gray-1);
    color: var(--gray-9);
  }
}
