.card {
  position: relative;
  border-radius: var(--border-radius);
  padding: 2px;
}

.border-outer {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border-radius: calc(var(--border-radius) + 1px);
  background-clip: content-box;
  background-color: var(--border-dynamic);
}

.border-inner {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border-radius: calc(var(--border-radius) + 1px);
  background-color: var(--border-dynamic);
  background-clip: content-box;
  padding: 1px;
}

.content {
  position: relative;
  width: 100%; height: 100%;
  border-radius: inherit;
  background-color: var(--background);
  opacity: 0.92;
  padding: 30px 25px;
}
