.label {
  cursor: default;
  position: relative;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input {
  appearance: none;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.display-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem; height: 1rem;
  border: 1px solid var(--gray-2);
  border-radius: calc(var(--radius) / 2);
  background-color: var(--background);
  transition: all var(--ease-out-t) var(--ease-out-c);
  
  &.checked {
    background-color: var(--gray-1);
    border-color: var(--gray-3);
  }
}

.input:focus-visible + .display-checkbox,
.input:hover + .display-checkbox {
  outline: none;
  background-color: var(--gray-2);
  border-color: var(--gray-6);
}
