.label {
  cursor: pointer;
  position: relative;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input {
  appearance: none;
  position: absolute;
  opacity: 0;
}

.display-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem; height: 1rem;
  border: 1px solid var(--gray-3);
  transition: all 0.5s var(--curve);
  
  &.checked {
    border-color: var(--foreground);
    background-color: var(--foreground);
  }
}

.input:focus-visible + .display-checkbox,
.input:hover + .display-checkbox {
  outline: none;
  background-color: var(--gray-1);
}

.input:focus-visible + .checked {
  background-color: var(--gray-9) !important;
}

.input:hover + .checked {
  outline: none;
  background-color: var(--foreground);
}
