.dropdown {
  position: absolute;
  width: 250px;
  /* height: 0; */
  /* overflow: hidden; */
  border-radius: calc(var(--border-radius));
  margin-top: 5px;
  z-index: 1000;

  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;

  z-index: 1000;

  a, button {
    display: block;
    padding: 10px 15px;
    color: var(--foreground);
    text-decoration: none;
    width: 100%;
    border-radius: calc(var(--border-radius) * 0.5);
    cursor: pointer;
    transition: var(--transition);
    
    &:hover, &:focus-visible {
      outline: none;
      background-color: var(--gray-1);
    }
  }
}
