.dropdown {
  position: absolute;
  width: 250px;
  /* height: 0; */
  /* overflow: hidden; */
  border-radius: calc(var(--border-radius) * 0.75);
  margin-top: 5px;
  z-index: 999;

  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
  align-items: baseline;

  /* padding: 15px 10px; */
  z-index: 1000;

  a, button {
    display: block;
    padding: 10px 15px;
    color: var(--foreground);
    text-decoration: none;
    width: 100%;
    border-radius: calc(var(--border-radius) * 0.5);
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      background-color: var(--gray-1);
    }
  }
}
