.error-container {
  overflow: hidden;
}

.error {
  height: 0;

  transform: translateY(10px);
  margin: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: all var(--ease-out-t) var(--ease-out-c);

  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: start;
  gap: 5px;
  font-size: 0.9rem;

  &.error-visible {
    transform: none;
    margin: 5px 0;
    opacity: 1;
    pointer-events: all;
    user-select: auto;
  }
}
