.input-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px solid var(--gray-2);
  border-radius: var(--radius);
  transition: all 0.5s var(--curve);
}

.input-active {
  border-color: var(--gray-6);
}

.label {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0; left: 0;
  transform: translate(5px, 10px);
  background-color: var(--background);
  padding: 0 5px;
  border-radius: 999px;
  transition: all 0.5s var(--curve);
}

.label-active {
  transform: translate(5px, -13px);
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  transition: all 0.5s var(--curve), height 0.25s var(--curve);

  &:focus {
    outline: none;
  }

  &:autofill {
    z-index: 2;
  }
}

.eye-container {
  display: flex;
  align-items: center;
  height: 0;
}

.eye {
  box-sizing: content-box;
  padding: 3px;
  display: flex;
  align-items: center;
  margin: 0 10px 0 5px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s var(--curve);

  &:hover, &:focus-visible {
    outline: none;
    background-color: var(--gray-2);
  }
}

.counter {
  position: absolute;
  pointer-events: none;
  user-select: none;
  background-color: var(--background);
  padding: 0 5px;
  border-radius: 999px;
  bottom: calc(-0.35rem - 2px); right: 10px;
  font-size: 0.7rem;
  z-index: 10;
}
