.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  z-index: 1000;
  padding-bottom: 0.8px;

  div:last-child {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  color: var(--gray-9);
}
