.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 100;
  padding-bottom: 0.8px;

  color: var(--gray-9);
}

.header > div > div:last-of-type {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
