.label {
  display: block;
}

.input {
  border: 1px solid var(--border-static);
  border-radius: calc(var(--border-radius) * 0.5);
  padding: 10px 15px;
  transition: var(--transition);

  &:focus {
    outline: none;
    border-color: var(--border-active);
  }
}
