.label {
  position: relative;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input {
  appearance: none;
  position: absolute;
  opacity: 0;
}

.fakebox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem; height: 1rem;
  /* background-color: var(--gray-1); */
  border: 1px solid var(--gray-3);
  border-radius: calc(var(--border-radius) * 0.1);
  transition: all 0.25s var(--curve);
}

.input:focus-visible + .fakebox,
.input:hover + .fakebox {
  outline: none;
  background-color: var(--gray-1);
}
