.input-container {
  margin-bottom: 20px;
}

.input-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px solid var(--gray-1);
  border-radius: calc(var(--border-radius) * 0.5);
  transition: all 0.5s var(--curve);
}

.input-active {
  border-color: var(--gray-3);
}

.label {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0; left: 0;
  transform: translate(10px, 10px);
  color: var(--gray-9);
  background-color: var(--background);
  padding: 0 5px;
  transition: all 0.5s var(--curve);
}

.label-active {
  transform: translate(10px, -10px);
  font-size: 0.9rem;
}

.input {
  width: 100%;
  color: var(--foreground);
  padding: 10px;
  border: none;
  border-radius: inherit;
  transition: all 0.5s var(--curve), height 0.25s var(--curve);

  &:focus {
    outline: none;
  }

  &:autofill {
    z-index: 2;
  }
}

.error-container {
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
  height: 0;
  margin: 0;
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s var(--curve);
}

.error-visible {
  height: 1rem;
  margin-top: 5px;
  opacity: 1;
  filter: none;
  overflow: visible;
}

.error {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: end;
  gap: 5px;
  color: var(--error);
  font-size: 0.9rem;

  span {
    height: 1rem;
  }
}

.eye-container {
  display: flex;
  align-items: center;
  height: 0;
}

.eye {
  box-sizing: content-box;
  padding: 3px;
  display: flex;
  align-items: center;
  margin: 0 10px 0 5px;
  border-radius: calc(var(--border-radius) * 0.25);
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s var(--curve);

  &:focus-visible {
    outline: none;
    background-color: var(--gray-1);
  }
}

.counter {
  position: absolute;
  color: var(--gray-9);
  bottom: calc(-0.7rem - 5px); right: 0;
  font-size: 0.7rem;

  .excess-count {
    color: var(--error);
  }
}
