.input-container {
  padding-top: 10px;
  margin-bottom: 20px;
}

@property --gradient-end {
  syntax: '<length> | <percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --gradient-color {
  syntax: '<color>';
  inherits: false;
  initial-value: var(--gray-1);
}

@keyframes hoverInput {
  0% {
    --gradient-end: 0%;
    --gradient-color: var(--gray-1);
  }
  
  100% {
    --gradient-end: 50%;
    --gradient-color: var(--gray-1);
  }
}

@keyframes focusInput {
  0% {
    --gradient-end: 50%;
    --gradient-color: var(--gray-1);
  }

  100% {
    --gradient-end: 100%;
    --gradient-color: var(--gray-1);
  }
}

@keyframes blurInput {
  0% {
    --gradient-end: 50%;
    --gradient-color: var(--gray-1);
  }

  100% {
    --gradient-end: 0%;
    --gradient-color: var(--background);
  }
}

.input-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: calc(var(--border-radius) * 0.5);
  transition: var(--transition);

  background: linear-gradient(
    to left,
    var(--gradient-color) 0%,
    transparent var(--gradient-end)
  );

  animation: 0.4s cubic-bezier(0.22, 1, 0.36, 1) blurInput forwards;

  &:hover {
    animation: 0.4s cubic-bezier(0.22, 1, 0.36, 1) hoverInput forwards;
  }
}

.input-active {
  animation: 0.4s cubic-bezier(0.22, 1, 0.36, 1) focusInput forwards !important;
}

.label {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0; left: 0;
  transform: translate(15px, 10px);
  color: var(--gray-9);
  padding: 0 5px;
  transition: var(--transition);
}

.label-active {
  transform: translate(5px, -10px);
  font-size: 0.9rem;
}

.input {
  width: 100%;
  background-color: transparent;
  color: var(--foreground);
  padding: 10px 15px;
  border: none;
  border-radius: inherit;
  transition: var(--transition);

  &:focus {
    outline: none;
  }
}

.error-container {
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
  height: 0;
  margin: 0;
  opacity: 0;
  filter: blur(5px);
  transition: var(--transition);
}

.error-visible {
  height: 1rem;
  margin-top: 5px;
  opacity: 1;
  filter: none;
  overflow: visible;
}

.error {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: baseline;
  gap: 5px;
  color: var(--error);
  font-size: 0.9rem;
}

.eye-container {
  display: flex;
  align-items: center;
  height: 0;
}

.eye {
  box-sizing: content-box;
  padding: 3px;
  display: flex;
  align-items: center;
  width: 22px; height: 22px;
  margin: 0 10px 0 5px;
  border-radius: calc(var(--border-radius) * 0.25);
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: var(--transition);

  &:focus-visible {
    /* outline: 1px solid var(--gray-3); */
    outline: none;
    background-color: var(--gray-1);
  }

  svg {
    width: 100%; height: 100%;
  }
}

