.layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1800px;
  margin: auto;
}

.content {
  position: relative;
  width: 100%;
}

.header {
  border-right: 1px solid var(--gray-1);
  border-bottom: 1px solid var(--gray-1);
  padding: 0 40px;
  width: 100%;
  height: 60px;
  z-index: 1000;

  color: var(--gray-9);
  background-color: var(--background);

  display: flex;
  align-items: center;
}

.sidebar-container {
  width: 250px;
  flex: none;

  .sidebar {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    background-color: var(--background);
    position: fixed;
  }
  
  .sidebar-header {
    flex: 0 0 60px;
    width: 250px;
    border-left: 1px solid var(--gray-1);
    border-right: 1px solid var(--gray-1);
    border-bottom: 1px solid var(--gray-1);
  }
  
  .sidebar-content {
    flex: 0 1 100%;
    width: 250px;
    border-left: 1px solid var(--gray-1);
    border-right: 1px solid var(--gray-1);
    padding: 20px;
    overflow: auto;
  }
}

.section-header {
  position: relative;
  padding-top: 40px;
  background-color: var(--background);
  border-right: 1px solid var(--gray-1);
  z-index: 10;
  
  .section-header-content {
    padding: 20px 40px;
  }

  .border-top, .border-bottom {
    position: absolute;
    width: 100%;
    height: 1px;
  
    .dashed-line {
      stroke: var(--gray-1);
      stroke-width: 1px;
      stroke-dasharray: 0.25 0.25;
    }
  }
}

.section {
  position: relative;
  background-color: var(--background);
  
  .section-content {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--background);
  }
}

.subsection {
  background-color: var(--background);

  border-right: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;

  border-right: 1px solid var(--gray-1);
  border-bottom: 1px solid var(--gray-1);
  padding: 40px;
  overflow: hidden;
}
