.layout {
  display: grid;
  grid-template-columns: auto 1fr;
}

.content {
  flex: 1 1 0;
  position: relative;
  max-width: 1600px;
  min-width: 0;
  margin: auto;

  grid-column: 2 / 3;
  grid-row: 2 / 3;

  @media screen and (min-width: calc(1600px + 250px)) {
    border-left: 1px solid var(--gray-1);
  }
}

.topnav {
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 1000;
  
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  
  .topnav-content {
    height: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    padding: 0 min(5vw, 80px);
    border-bottom: 1px solid var(--gray-2);
  }
}

.sidenav {
  position: relative;
  background-color: var(--background);

  grid-column: 1 / 2;
  grid-row: 1 / 3;

  .sidenav-fixed {
    position: sticky;
    top: 0;
    width: 250px;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
  }

  .sidenav-header {
    flex: 0 0 60px;
    border-bottom: 1px solid var(--gray-2);
    border-right: 1px solid var(--gray-2);
  }

  .sidenav-content {
    flex: 1 1 0;
    border-right: 1px solid var(--gray-2);
    overflow-y: auto;
    padding: 20px;
  }
}

.section-divider {
  background-color: var(--background);
  border-bottom: 1px solid var(--gray-2);
  border-right: 1px solid var(--gray-1);
  height: min(5vw, 80px);
}

.section {
  position: relative;
  background-color: var(--background);
  
  .section-content {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--background);
  }
}

.subsection {
  background-color: var(--background);
  border-right: 1px solid var(--gray-1);
  border-bottom: 1px solid var(--gray-1);
  padding: min(5vw, 80px);
  min-width: 300px;
}
