.layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  overflow: hidden;
}

.content {
  flex: 1 1 0;
  position: relative;
  max-width: 1600px;
  min-width: 0;
  margin: auto;
  overflow: hidden;
}

.topnav {
  display: flex;
  flex-flow: row nowrap;
  position: sticky;
  top: 0;
  flex: 0 0 100%;
  border-bottom: 1px solid var(--gray-2);
  height: 60px;
  z-index: 1000;
  
  background-color: var(--background);
  
  .topnav-side {
    flex: 0 0 250px;
  }
  
  .topnav-content {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    padding: 0 min(5vw, 80px);
    border-left: 1px solid var(--gray-2);
  }
}

.sidenav {
  position: relative;
  flex: 0 0 250px;
  border-right: 1px solid var(--gray-2);
  background-color: var(--background);
  
  .sidenav-content {
    position: sticky;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
    width: 250px;
    padding: 20px;
  }
}

.section-divider {
  background-color: var(--background);
  border-bottom: 1px solid var(--gray-2);
  border-right: 1px solid var(--gray-1);
  height: min(5vw, 80px);
}

.section {
  position: relative;
  background-color: var(--background);
  overflow: hidden;
  
  .section-content {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--background);
  }
}

.subsection {
  background-color: var(--background);
  border-right: 1px solid var(--gray-1);
  border-bottom: 1px solid var(--gray-1);
  padding: min(5vw, 80px);
  min-width: 300px;
  overflow: hidden;
}
