.list {
  border-radius: var(--border-radius);

  .item { padding: 20px }
}

.divider {
  width: 100%;
  height: 0.8px;
  background-color: var(--gray-1);

  &:last-of-type {
    display: none;
  }
}
