.radio-horizontal, .radio-vertical {
  width: fit-content;
  background-color: var(--background);
  border: 1px solid var(--gray-1);
  overflow: clip;
}

.radio-horizontal {
  margin: 5px 0;
  display: flex;
  flex-flow: row nowrap;

  .label { border-right: 1px solid var(--gray-1) }
  .label:last-child { border: none }
}

.radio-vertical {
  margin: 5px 0;
  display: flex;
  flex-flow: column nowrap;

  .label { border-bottom: 1px solid var(--gray-1) }
  .label:last-child { border: none }
}

.label {
  cursor: default;
  position: relative;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  color: var(--foreground);
  padding: 5px 20px;
  transition: all 0.5s var(--curve);

  &.checked {
    background-color: var(--foreground) !important;
    color: var(--background);
    border-color: var(--foreground);

    &:has(.input:focus-visible) {
      background-color: var(--gray-9) !important;
    }
  }

  &:hover, &:has(.input:focus-visible) {
    background-color: var(--gray-1);
  }
}

.input {
  appearance: none;
  position: absolute;
  opacity: 0;
}

.input:focus-visible + .radio,
.input:hover + .radio {
  outline: none;
  background-color: var(--gray-1);
}
