.table {
  position: relative;
  background-color: var(--background);
  border-collapse: collapse;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px; left: 0;
    width: 100%; height: 5px;
    background-color: var(--background);
  }
}

.header, .footer {
  * {
    font-weight: 400 !important;
  }
}

.cell {
  height: min-content;
  width: min-content;
  font-weight: 300;
  padding: 20px;
}

.header .cell, .body .cell {
  border-bottom: 1px solid var(--gray-1);
}
