.table {
  background-color: var(--background);
  border-collapse: collapse;
}

.header, .footer {
  * {
    font-weight: 400 !important;
  }
}

.cell {
  height: fit-content;
  width: fit-content;
  font-weight: 300;
  padding: 20px;
}

.header .cell, .body .cell {
  border-bottom: 1px solid var(--gray-1);
}
