.branch, .item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 10px;

  color: var(--gray-9);
  background-color: var(--background);
  border: none;
  padding: 5px 10px;
  border-radius: var(--radius);
  width: calc(100% - 5px);
  transition: all 0.5s var(--curve);

  &:focus-visible {
    outline: none;
    background-color: var(--gray-2);
  }

  &:hover {
    background-color: var(--gray-2);
  }
}

.item {
  cursor: pointer;
  text-decoration: none;
  color: var(--foreground);
}

.content {
  overflow: hidden;
  margin-left: 10px;
  height: auto;

  opacity: 0;
  filter: blur(3px);
  pointer-events: none;

  /* border-left: 1px solid var(--gray-2); */
  transition: all 0.5s var(--curve);
  
  &.open {
    opacity: 1;
    filter: none;
    pointer-events: all;
  }
}
