.branch, .item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 10px;

  font-size: 0.95rem;
  color: var(--gray-9);
  background-color: var(--background);
  border: none;
  border-radius: calc(var(--border-radius) * 0.5);
  padding: 5px 0 5px 15px;
  width: 100%;
  transition: all 0.5s var(--curve);

  &:focus-visible {
    outline: none;
    background-color: var(--gray-1);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--gray-1);
  }
}

.item {
  text-decoration: none;
  color: var(--foreground);
}

.content {
  overflow: hidden;
  height: auto;
  margin: 0 0 0 10px;
  filter: blur(10px);
  visibility: hidden;
  border-left: 1px solid var(--gray-1);
  transition: all 0.5s var(--curve);

  &.open {
    visibility: visible;
    filter: none;
    margin: 5px 0 5px 10px;
  }

  &:not(.open) * {
    visibility: hidden;
  }

}
