:root {
  --ease-out-c: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-out-t: 0.5s;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../../../assets/fonts/IBMPlexSans-Variable.ttf')
}

.no-transition * {
  transition: none !important;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  color: var(--foreground);
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;

  scrollbar-width: thin;
  scrollbar-color: var(--gray-9) transparent;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'IBMPlexSans', sans-serif;
}

#root {
  position: relative;
  overflow: clip;
}

::selection {
  background-color: var(--accent);
}

input, button, textarea, select {
  background-color: inherit;
  color: inherit;
  font: inherit;
  font-size: 100%;
}
