.calendar {
  width: fit-content;
}

.week {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;

  .weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
  }
}

.date {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .chevrons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
  }

  .prev-month {
    transform: rotate(90deg);
  }
  .next-month {
    transform: rotate(-90deg);
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(6, auto);
  gap: 5px;

  .day {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .empty-slot {
    width: 2rem;
    height: 0;
  }
}
