.svg {
  pointer-events: none;
  overflow: visible;
  display: block;

  &.color-primary > path { fill: var(--foreground) }
  &.color-dimmed > path { fill: var(--gray-5) }
  &.color-inverted > path { fill: var(--background) }
  &.color-disabled > path { fill: var(--gray-4) }
  &.color-error > path { fill: var(--error) }
  &.color-success > path { fill: var(--success) }
}
