.svg {
  pointer-events: none;
  overflow: visible;
  display: block;

  &.color-primary > circle { stroke: var(--foreground) }
  &.color-dimmed > circle { stroke: var(--gray-9) }
  &.color-inverted > circle { stroke: var(--background) }
  &.color-disabled > circle { stroke: var(--gray-6) }
  &.color-error > circle { stroke: var(--error) }
  &.color-success > circle { stroke: var(--success) }
}
