.svg {
  pointer-events: none;
  overflow: visible;
  display: block;

  &.color-primary > circle { fill: var(--foreground) }
  &.color-dimmed > circle { fill: var(--gray-9) }
  &.color-inverted > circle { fill: var(--background) }
  &.color-disabled > circle { fill: var(--gray-6) }
  &.color-error > circle { fill: var(--error) }
  &.color-success > circle { fill: var(--success) }
}
