.svg {
  pointer-events: none;
  overflow: visible;
  display: block;

  &.color-primary path { fill: var(--foreground) }
  &.color-dimmed path { fill: var(--gray-5) }
  &.color-inverted path { fill: var(--background) }
  &.color-disabled path { fill: var(--gray-4) }
  &.color-error path { fill: var(--error) }
  &.color-success path { fill: var(--success) }

  .strike-through {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke: var(--gray-5);
  }

  .cut-through {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke: #000;
  }

  .hidden {
    animation: unstrike var(--ease-out-c) calc(var(--ease-out-t) / 2) forwards;
  }

  .visible {
    animation: strike var(--ease-out-c) calc(var(--ease-out-t) / 2) forwards;
  }
}

@keyframes unstrike {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -1;
  }
}

@keyframes strike {
  100% {
    stroke-dashoffset: 0;
  }
}
