.slider-clickbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;

  &.disabled {
    cursor: default;

    .display-slider { background-color: var(--gray-1) !important }
    .slider-track { background-color: var(--gray-4) !important }
    .thumb-display { background-color: var(--gray-4) !important }
  }

  &:focus {
    outline: none;

    .thumb-display {
      background-color: var(--foreground);
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.display-slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  height: 2px;
  border-radius: var(--radius);
  width: 100%;
  background-color: var(--gray-3);
}

.slider-track {
  flex: 1 0 0;
  background-color: var(--gray-5);
  height: 100%;
  border-radius: inherit;
  transition: all var(--ease-out-t) var(--ease-out-c);

  &.dragging {
    transition: all calc(var(--ease-out-t) / 4) var(--ease-out-c);
  }
}

.slider-thumb {
  flex: 0 0 0;
  width: 0; height: 0;
  background-color: transparent;
  border: none;
  
  .thumb-display {
    width: 10px; height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--gray-5);
    outline: 3px solid var(--background);
    transition: all var(--ease-out-t) var(--ease-out-c);
  }
}
