.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding: 10px;
  border-radius: var(--radius);
  background-color: var(--background);
  border: none;
  width: 100%;
  transition: all var(--ease-out-t) var(--ease-out-c);

  &:focus-visible {
    outline: none;
    background-color: var(--gray-2);
  }

  &:hover {
    background-color: var(--gray-2);
  }
}

.content {
  overflow: hidden;
  height: auto;

  margin: 0 10px;
  transform: translateY(20px);
  pointer-events: none;
  opacity: 0;
  transition: all var(--ease-out-t) var(--ease-out-c);

  &.open {
    margin: 0 10px 10px 10px;
    transform: none;
    pointer-events: all;
    opacity: 1;
  }
}
