.pagination {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

.prev {
  transform: rotate(90deg);
}

.next {
  transform: rotate(-90deg);
}

.ellipsis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
}
