.input-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px solid var(--gray-2);
  border-radius: var(--radius);
  transition: all var(--ease-out-t) var(--ease-out-c);
}

.input-active {
  border-color: var(--gray-6);
}

.label {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0; left: 0;
  transform: translate(5px, 10px);
  background-color: var(--background);
  padding: 0 5px;
  border-radius: 999px;
  transition: all var(--ease-out-t) var(--ease-out-c);
}

.label-active {
  transform: translate(5px, -13px);
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  transition: all var(--ease-out-t) var(--ease-out-c), height calc(var(--ease-out-t) / 2) var(--ease-out-c);

  &:focus {
    outline: none;
  }

  &:autofill {
    z-index: 2;
  }
}

.counter {
  position: absolute;
  pointer-events: none;
  user-select: none;
  background-color: var(--background);
  padding: 0 5px;
  border-radius: 999px;
  bottom: calc(-0.35rem - 2px); right: 10px;
  font-size: 0.7rem;
  z-index: 10;
}
