.arrangement-horizontal, .arrangement-vertical {
  width: fit-content;
  background-color: var(--background);
  border: 1px solid var(--gray-2);
  border-radius: var(--radius);
  overflow: clip;
  transition: all var(--ease-out-t) var(--ease-out-c);

  &:focus {
    outline: none;
    border-color: var(--gray-6);
  }
}

.arrangement-horizontal {
  display: flex;
  flex-flow: row nowrap;

  .label { border-right: 1px solid var(--gray-2) }
  .label:last-child { border: none }
}

.arrangement-vertical {
  display: flex;
  flex-flow: column nowrap;

  .label { border-bottom: 1px solid var(--gray-2) }
  .label:last-child { border: none }
}

.label {
  cursor: default;
  position: relative;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  background-color: var(--background);
  padding: 5px 20px;
  transition: all calc(var(--ease-out-t) / 2) var(--ease-out-c);

  &:hover {
    background-color: var(--gray-1);
    border-color: var(--gray-2);
  }

  &.checked {
    background-color: var(--gray-3);
    border-color: var(--gray-3);
  }

  &.disabled {
    background-color: var(--gray-1);
  }
}

.input {
  appearance: none;
  position: absolute;
  opacity: 0;
}
