.svg {
  pointer-events: none;
  display: block;

  path {
    stroke: var(--gray-9);
    transition: all calc(var(--ease-out-t) / 2) var(--ease-out-c);
  }

  .active {
    d: path('M1 2.2L5.16782 2.2C5.35726 2.2 5.64274 2.2 5.83218 2.2L10 2.2');
  }
}
