.svg {
  pointer-events: none;
  display: block;

  path {
    fill: var(--gray-9);
  }

  .strike-through {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke: var(--gray-9);
  }

  .cut-through {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke: #000;
  }

  .hidden {
    animation: unstrike var(--curve) 0.4s forwards;
  }

  .visible {
    animation: strike var(--curve) 0.4s forwards;
  }
}

@keyframes unstrike {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -1;
  }
}

@keyframes strike {
  100% {
    stroke-dashoffset: 0;
  }
}
