:root {
  --background: #101010;
  --foreground: #eee;
  --gray-1: #222;
  --gray-3: #252525;
  --gray-6: #444;
  --gray-9: #aaa;

  /* --background: #fff;
  --foreground: #101010;
  --gray-1: #e0e0e0;
  --gray-3: #aaa;
  --gray-6: #999;
  --gray-9: #555; */

  --radius: 4px;

  --accent: hsl(218, 84%, 57%);
  --accent: oklch(0.476 0.0972 167.09);

  --error: #ec0000;

  --curve: cubic-bezier(0.22, 1, 0.36, 1);
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./assets/fonts/IBMPlexSans-Variable.ttf');
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'IBMPlexSans', sans-serif;
}

input, button, textarea, select {
  background-color: inherit;
  color: inherit;
  font: inherit;
  font-size: 100%;
}
