:root {
  --background: #111;
  --foreground: #eee;
  --overlay: #4a4a4a;
  --gray-1: #2a2a2a;
  --gray-3: #3f3f3f;
  --gray-6: #555;
  --gray-9: #888;

  /* --border-dynamic: #ccc; */
  /* --border-dynamic: hsl(34, 42%, 86%); */
  /* --border-dynamic: hsl(90, 42%, 86%); */

  /* --background: #fff;
  --foreground: #363636;
  --overlay: #000;
  --gray-1: #ddd;
  --gray-3: #aaa;
  --gray-6: #999;
  --gray-9: #777; */

  --error: #ec0000;
  --border-radius: 15px;

  --curve: cubic-bezier(0.22, 1, 0.36, 1);
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./assets/fonts/IBMPlexSans-Variable.ttf');
}

html {
  font-size: 16px;
  
  /* pointer-events: none;
  cursor: none; */
  
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'IBMPlexSans', sans-serif;
}

input, button, textarea, select {
  background-color: inherit;
  color: inherit;
  font: inherit;
  font-size: 100%;
}

a {
  color: var(--foreground);
  text-decoration: underline;
}
