:root {
  --background: #111;
  --foreground: #eee;
  --border-static: #333;
  --border-dynamic: #ccc;
  --border-radius: 20px;
  --transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input, button, textarea, select {
  background-color: inherit;
  color: inherit;
  font: inherit;
  font-size: 100%;
}
