:root {
  --ease-out-c: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-out-t: 0.5s;
  --radius: 5px;

  &[data-theme='light'] {
    --background: oklch(100% 0 265);
    --foreground: oklch(4% 0 265);
    --gray-1: oklch(94% 0 265);
    --gray-2: oklch(90% 0 265);
    --gray-3: oklch(86% 0 265);
    --gray-4: oklch(82% 0 265);
    --gray-5: oklch(40% 0 265);
    --accent: oklch(60% 0.3 265 / 0.5);
    --success: oklch(45% 0.3 170);
    --error: oklch(45% 0.3 20);
  }

  &[data-theme='dark'] {
    --background: oklch(10% 0 265);
    --foreground: oklch(96% 0 265);
    --gray-1: oklch(18% 0 265);
    --gray-2: oklch(24% 0 265);
    --gray-3: oklch(30% 0 265);
    --gray-4: oklch(40% 0 265);
    --gray-5: oklch(85% 0 265);
    --accent: oklch(60% 0.3 265 / 0.5);
    --success: oklch(65% 0.3 170);
    --error: oklch(65% 0.3 20);
  }
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../../../assets/fonts/IBMPlexSans-Variable.ttf');
}

.no-transition * {
  transition: none !important;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  color: var(--foreground);
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;

  scrollbar-width: thin;
  scrollbar-color: var(--gray-5) transparent;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'IBMPlexSans', sans-serif;
}

#root {
  position: relative;
  overflow: clip;
}

::selection {
  background-color: var(--accent);
}

input, button, textarea, select {
  background-color: inherit;
  color: inherit;
  font: inherit;
  font-size: 100%;
}
