.layout {
  display: grid;
  grid-template-columns: auto 1fr;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 0 1fr;

    .topnav-content {
      justify-content: end !important;
    }

    .burger {
      display: block !important;
    }

    .collapsed {
      width: 0 !important;

      .burger { margin-left: 20px !important }
      .sidenav-header { padding: 0 !important }

      .sidenav-main {
        padding: 20px 0 !important;
        visibility: hidden;
      }
    }
  }
}

.content {
  flex: 1 1 0;
  position: relative;
  min-height: calc(100vh - 50px);
  max-width: 1600px;
  width: 100%;
  margin: auto;
  overflow: hidden;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.topnav {
  position: sticky;
  top: 0;
  height: 50px;
  z-index: 1000;
  
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  
  .topnav-content {
    height: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 min(5vw, 80px);
    border-bottom: 1px solid var(--gray-1);
    border-right: 1px solid var(--gray-1);
  }
}

.sidenav {
  position: relative;
  z-index: 1100;

  grid-column: 1 / 2;
  grid-row: 1 / 3;

  .sidenav-fixed {
    position: sticky;
    top: 0;
    width: 250px;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    pointer-events: none;
    transition: all var(--ease-out-t) var(--ease-out-c);
  }

  .sidenav-header {
    pointer-events: all;
    flex: 0 0 50px;
    border-bottom: 1px solid var(--gray-1);
    border-right: 1px solid var(--gray-1);
    background-color: var(--background);
    display: flex;
    align-items: center;
    padding: 0 20px;
    transition: all var(--ease-out-t) var(--ease-out-c);
  }

  .sidenav-main {
    flex: 1 1 0;
    overflow-y: auto;
    pointer-events: all;
    padding: 20px;
    background-color: var(--background);
    border-right: 1px solid var(--gray-1);
    height: 100%;
    transition: all var(--ease-out-t) var(--ease-out-c);
  }

  .burger {
    display: none;
    transition: all var(--ease-out-t) var(--ease-out-c);
  }
}

.section {
  position: relative;
  background-color: var(--background);
  border-bottom: 1px solid var(--gray-1);
  padding: 80px min(5vw, 80px);
}
