.h-xs, .h-s, .h-m,
.h-l, .h-xl {
  display: block;
  line-height: 1.4;
  transition: all var(--ease-out-t) var(--ease-out-c);
}

.p-xs, .p-s, .p-m,
.p-l, .p-xl {
  display: block;
  line-height: 1.4;
  transition: all var(--ease-out-t) var(--ease-out-c);
}

.span-xs, .span-s, .span-m,
.span-l, .span-xl {
  display: inline;
  line-height: 1.4;
  transition: all var(--ease-out-t) var(--ease-out-c);
}

.weight-300 { font-weight: 300 }
.weight-400 { font-weight: 400 }
.weight-500 { font-weight: 500 }

.color-primary { color: var(--foreground) }
.color-dimmed { color: var(--gray-5) }
.color-inverted { color: var(--background) }
.color-disabled { color: var(--gray-4) }
.color-error { color: var(--error) }
.color-success { color: var(--success) }

.h-xs { font-size: 1rem }
.p-xs, .span-xs { font-size: 0.7rem; }

.h-s { font-size: 1.5rem }
.p-s, .span-s { font-size: 0.9rem; }

.h-m { font-size: 3rem }
.p-m, .span-m { font-size: 1rem; }

.h-l { font-size: 6rem }
.p-l, .span-l { font-size: 1.1rem; }

.h-xl { font-size: 10rem }
.p-xl, .span-xl { font-size: 1.3rem; }
